html {
  scroll-behavior: smooth;
}

.windowPage {
  width: 100vw;
  height: 100vh;
}

.navDotsWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

circle:hover {
  cursor: pointer;
}

.fadeOut {
  opacity: 0;
  transition: opacity 2s;
}
.fadeIn {
  opacity: 1;
  transition: opacity 2s;
}

.svgElements {
  width: 100px;
}

.svgWrapper {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hideOnSmallScreens {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .hideOnSmallScreens {
    transform: translateX(-130%);
    transition-timing-function: ease-in;
    transition: 0.2s;
  }
}
