html {
  scroll-behavior: smooth;
}

.windowPage {
  width: 100vw;
  height: 100vh;
}

.navDotsWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

circle:hover {
  cursor: pointer;
}

.fadeOut {
  opacity: 0;
  transition: opacity 2s;
}
.fadeIn {
  opacity: 1;
  transition: opacity 2s;
}
